.header-inner {
  margin: auto;
  background-color: #ececec;
  padding-top: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  .logo {
    width: 198px;
    height: 115px;
    font-family: "Teko";
    font-size: 80px;
    line-height: 115px;
    margin: 0px;
    color: #000000;
  }
  .img {
    display: flex;
    .oval {
      margin-right: 25px;
      border-radius: 50%;
      border: #545af2 solid 3px;
    }
  }
  .search {
    display: flex;
    position: relative;
    input {
      width: 320px;
      padding: 14px 20px;
      border: none;
      border-radius: 99px;
      font-family: "Poppins";
      align-items: center;
      letter-spacing: 0.12px;
      font-size: 16px;
      line-height: 24px;
    }
    .searchImg {
      position: absolute;
      left: 310px;
      top: 15px;
    }
  }
  .ring {
    margin-left: 29px;
  }
  .header-right {
    display: flex;
    align-items: center;
  }
}
