.suggestions {
  font-family: "Poppins", sans-serif;
  .list {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px 10px;
      .left {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: start;
        padding: 0;
      }
      .follow-btn {
        background-color: #545af2;
        color: #ffffff;
        padding: 5px 18px;
        border-radius: 99px;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  .advertisement {
    width: 100%;
    background: #cccccc;
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 290px;
    margin-top: 34px;
  }
}
