.jobType1 {
  cursor: pointer;
  padding: 17px 19px;
  background-color: white;
  display: flex;
  margin-top: 22px;
  .people {
    background-color: #545af2;
    width: 75px;
    height: 75px;
    .Group {
      margin: 19px;
    }
    margin-right: 15px;
  }
  .right {
    .title {
      display: flex;
      .job-title {
        font-size: 16px;
        font-family: "Poppins";
        margin: 0px;
        font-weight: 500;
        letter-spacing: 2px;
      }
      .job-type {
        font-size: 14px;
        font-family: "Poppins";
        margin: 0px 0px 0px 110px;
        font-weight: 500;
      }
    }
    .content {
      margin: 11px 0px;
      font-family: "Poppins";
    }
    .apply {
      display: flex;
      .date {
        margin: 0px;
        font-size: 12px;
        font-family: "Poppins";
      }
      .state {
        margin: 0px 0px 0px 342px;
        font-size: 15px;
        font-family: "Poppins";
        color: #545af2;
      }
    }
  }
}
