.left {
  padding-left: 41px;
  .avatar {
    display: flex;
    background-color: white;
    width: 210px;
    padding: 14px;
    border-radius: 10px;
    .letter {
      margin-left: 12px;
      .letter1 {
        font-weight: 500;
        font-size: 15px;
        margin: 0px;
        color: #545af2;
        font-family: "Poppins";
      }
      .letter2 {
        margin: 0px;
        font-size: 12px;
        letter-spacing: 0.15px;
        font-family: "Poppins";
      }
    }
  }
  .filters {
    margin: 0px;
    padding-top: 39px;
    font-size: 22px;
    font-weight: 500;
    font-family: "Poppins";
  }
  .location {
    margin: 0px;
    padding-top: 26px;
    font-size: 16px;
    font-family: "Poppins";
  }
  .enter {
    position: relative;
    .enterLocation {
      margin-top: 18px;
      width: 250px;
      padding: 14px 20px;
      border-radius: 99px;
      font-size: 12px;
    }
    .vector {
      position: absolute;
      top: 30px;
      right: 20px;
    }
  }
  .jobType {
    font-size: 16px;
    font-family: "Poppins";
    margin: 0px;
    padding-top: 40px;
    margin-bottom: 25px;
  }

}
