.middle {
  padding-left: 12px;
  .tabMenu {
    display: flex;
    background-color: white;
    align-items: center;
  
  }
  .jobTitle {
    margin-top: 29px;
    position: relative;
    .jobInput {
      padding: 14px 20px;
      width: 649px;
      border: none;
      font-size: 16px;
      font-family: "Poppins";
    }
    .searchImg {
      position: absolute;
      right: 17px;
      top: 15px;
    }
  }
  .middle-3 {
    display: flex;
    position: relative;
    button {
      display: flex;
      position: absolute;
      background-color: #545af2;
      border: none;
      height: 42px;
      right: 0px;
      top: 38px;
      width: 164px;
      align-items: center;
      border-radius: 99px;
      .newJob {
        font-size: 12px;
        padding: 13px 17px;
        margin: 0px;
        color: white;
      }
    }
    .recommend {
      font-size: 20px;
      font-weight: 500;
      font-family: "Poppins";
    }
  }
}
