.right {
  margin-left: 29px;
  .suggesstion {
    padding-top: 66px;
    font-size: 16px;
    font-family: "Poppins";
  }
  .rect {
    margin-top: 34px;
    width: 260px;
    height: 260px;
    background-color: #cccccc;
  }
}
