.jobCheck {
  display: flex;
  margin-bottom: 21px;

  .job {
    font-size: 14px;
    font-family: "Poppins";
    margin-left: 15px;
    padding-top: 0px;
  }
  .checkTrue {
    margin-top: 10px;
  }
  .checkFalse {
    margin-top: 10px;
    width: 21px;
    height: 21px;
    border: solid 4px #545af2;
    border-radius: 4px;
  }
}
