.selPeople {
  width: 230px;
  display: flex;
  background-color: white;
  padding: 18px 15px;
  position: relative;
  .name {
    font-size: 16px;
    font-family: "Poppins";
    color: #999999;
    margin: 5px 0px 5px 12px;
  }
  .follow {
    position: absolute;
    right: 15px;
    top: 18px;
    background-color: #545af2;
    border: none;
    border-radius: 99px;
    padding: 7px 18px;
    .follow-text {
      margin: 0px;
      color: white;
      font-size: 12px;
      font-family: "Poppins";
    }
  }
}
