.list {
  margin-top: 24px;
  max-width: 1350px;
  background-color: #ececec;
  display: flex;
  margin: auto;
  .left {
    padding-left: 41px;
    .avatar {
      display: flex;
      background-color: white;
      width: 210px;
      padding: 14px;
      border-radius: 10px;
      .letter {
        margin-left: 12px;
        .letter1 {
          font-weight: 500;
          font-size: 15px;
          margin: 0px;
          color: #545af2;
          font-family: "Poppins";
        }
        .letter2 {
          margin: 0px;
          font-size: 12px;
          letter-spacing: 0.15px;
          font-family: "Poppins";
        }
      }
    }
    .filters {
      margin: 0px;
      padding-top: 39px;
      font-size: 22px;
      font-weight: 500;
      font-family: "Poppins";
    }
    .location {
      margin: 0px;
      padding-top: 26px;
      font-size: 16px;
      font-family: "Poppins";
    }
    .enter {
      position: relative;
      .enterLocation {
        margin-top: 18px;
        width: 250px;
        padding: 14px 20px;
        border-radius: 99px;
        font-size: 12px;
      }
      .vector {
        position: absolute;
        top: 30px;
        right: 20px;
      }
    }
    .jobType {
      font-size: 16px;
      font-family: "Poppins";
      margin: 0px;
      padding-top: 40px;
      margin-bottom: 25px;
    }
    .jobCheck {
      display: flex;
      margin-bottom: 21px;

      .job {
        font-size: 14px;
        font-family: "Poppins";
        margin-left: 15px;
        padding-top: 0px;
      }
      .checkTrue {
        margin-top: 10px;
      }
      .checkFalse {
        margin-top: 10px;
        width: 21px;
        height: 21px;
        border: solid 4px #545af2;
        border-radius: 4px;
      }
    }
  }
  .middle {
    padding-left: 12px;
    .tabMenu {
      display: flex;
      background-color: white;
      align-items: center;
      .tabIcon {
        margin-top: 17px;
        padding: 0px 29px;
        text-align: center;
        .tabIcon-name {
          font-size: 14px;
        }
      }
    }
    .jobTitle {
      margin-top: 29px;
      position: relative;
      .jobInput {
        padding: 14px 20px;
        width: 649px;
        border: none;
        font-size: 16px;
        font-family: "Poppins";
      }
      .searchImg {
        position: absolute;
        right: 17px;
        top: 15px;
      }
    }
    .middle-3 {
      display: flex;
      position: relative;
      button {
        display: flex;
        position: absolute;
        background-color: #545af2;
        border: none;
        height: 42px;
        right: 0px;
        top: 38px;
        width: 164px;
        align-items: center;
        border-radius: 99px;
        .newJob {
          font-size: 12px;
          padding: 13px 17px;
          margin: 0px;
          color: white;
        }
      }
      .recommend {
        font-size: 20px;
        font-weight: 500;
        font-family: "Poppins";
      }
    }
  }
}
